<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Foundation 5 Starter for IE8</title>
  		{{ "app.css" | asset_url | stylesheet_tag }}
  		<script src="{{ "modernizr.js" | asset_url }}"></script>
  		<!--[if lt IE 9]>
		  <script src="{{ "html5shiv.js" | asset_url }}"></script>
		  <script src="{{ "nwmatcher-1.2.5.js" | asset_url }}"></script>
		  <script src="{{ "selectivizr-1.0.3b.js" | asset_url }}"></script>
		  <script src="{{ "respond.js" | asset_url }}"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
		    <li class="name">
		      <h1><a href="/">Index</a></h1>
		    </li>
		    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
		  </ul>

		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="left">
		      <li><a href="/sink">Kitchen Sink Page</a></li>
		    </ul>
		  </section>
		</nav>
		{% block content %}{% endblock %}
  		{% include "scripts" %}
  		<script src="{{ "rem.min.js" | asset_url }}"></script>
	</body>
</html>